__pycache__
*.py[cod]
*.pyo

.venv
venv
env

.git
.github

.gitignore

.pytest_cache
.mypy_cache

.ipynb_checkpoints

notebooks

logs
*.log

artifacts
mlruns
mlflow.db

frontend

.DS_Store

.env
.env.*